* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

container {
    position: absolute;
    top: 0%;
    left: 60%;
    justify-content: start;
    width: 420px;
    padding: 40px;
    /* min-height: 600px; */
    text-align: center;
    color: #333;
    background: #d3dbe0;
}

h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
}

.select {
    margin-top: 10px;
}