* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ecf0f3;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    position: relative;
    max-width: 80px;
    border-radius: 50%;
    padding: 2px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textBox {
    position: relative;
    max-width: 600px;
}

.textBox h2 {
    color: #333;
    font-size: 3.7em;
    line-height: 1.4em;
    font-weight: 500;
}

.textBox h2 span {
    color: blue;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p {
    color: #333;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: blue;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.calculator {
    width: 600px;
    /* display: flex; */
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    /* filter: invert(1); */
}

.container {
    /* position: absolute;
    top: -25%;
    left: 60%;
    justify-content: start;
    width: 420px;
    padding: 40px; */
    /* min-height: 600px; */
    text-align: center;
    color: #333;
    border-radius: 50%;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #ffffff;
}

/* mobile */

@media (max-width: 760px) {
    * {
        display: none;
    }
}